@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1



*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

input
  outline: none

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  letter-spacing: 0.04em
  color: #000

.img-responsive
  display: block
  max-width: 100%
  height: auto

a
  color: inherit
  &:hover, &:active, &:focus
    color: inherit
    text-decoration: none

.container
  max-width: 1230px!important

p
  margin: 0

.btn
  display: inline-block
  background-color: $hover-color
  font-size: 19px
  padding: 20px 35px
  border-radius: 3px
  cursor: pointer
  color: #fff
  white-space: nowrap
  +mt(.4s)
  &:hover
    background-color: darken($hover-color, 7%)
    box-shadow: 0 4px 4px darken($hover-color, 15%)

.section-title
  font-size: 35px
  line-height: 1.4
  font-family: "robotoBold", sans-serif
  color: #000
  letter-spacing: .045em

.s-bg
  background-color: $form-bg

button
  border: none

.practice-desc
  p
    margin-bottom: 30px



.s-practice
  font-size: 25px
  line-height: 1.4
  letter-spacing: 0.042em
  margin-bottom: 100px
  .section-title
    margin-top: 55px
    margin-bottom: 40px
  .subtitle
    font-size: 30px
    margin-bottom: 20px

.practice-desc
  position: relative

.practice-desc-bg
  position: absolute
  bottom: 0
  right: 0
  opacity: .25

.practice-list-bg
  position: absolute
  bottom: 0
  right: 0
  opacity: .25

.practice-features
  margin: 30px 0


.check
  list-style-image: url("../img/check.png")
  li
    margin: 10px 0 10px 50px
    padding-left: 18px

.simple
  li
    margin: 10px 0 10px 15px
    &:before
      content: '-'
      margin-right: 10px

.list-services
  padding-bottom: 60px
  position: relative

.practice-conclusion
  margin-bottom: 30px

.practice-slogan
  font-size: 22px
  font-family: "robotoBold", sans-serif
  text-transform: uppercase
  margin-bottom: 40px
  padding: 0 15px
  text-align: center
  line-height: 1.6
