@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .s-welcome
    .btn
      padding: 16px 30px
      margin-top: 30px
    .logo
      width: 200px
    .work-info
      font-size: 17px
      .phone
        font-size: 26px

  .flags
    .flag-item
      width: 140px
      height: 200px
      margin-left: 20px
    .flag-desc
      font-size: 24px
  .welcome-desc
    font-size: 24px

  .welcome-title
    font-size: 32px
    top: -140px
    span
      font-size: 80px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .welcome-title
    position: absolute
    float: none
    display: block
    top: 0
    right: 0
    font-size: 14px
    span
      font-size: 30px
      margin-top: 45px
      margin-bottom: 7px

  .welcome-desc
    display: block
    text-align: center
    margin-top: 50px

  .main-mnu
    font-size: 18px
    .sf-menu
      >li
        a
          padding-right: 30px

  .head-socials
    .soc-icon
      font-size: 25px
      margin-left: 26px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .btn
    font-size: 14px

  .s-welcome
    .btn
      margin-top: 60px
    .logo
      display: block
      margin: 20px auto 0
      left: 0
    .work-info
      top: 0
      left: 0
      display: block
      text-align: center
      margin-top: 20px
      font-size: 14px
      .phone
        font-size: 22px
        margin-bottom: 5px

  .welcome-title
    display: block
    float: none
    position: relative
    text-align: center

  .mobile-welcome
    display: block
    font-size: 28px
    text-align: center
    margin-top: 25px
    line-height: 1.3

  .welcome-desc
    margin-top: 30px
    font-size: 16px
    line-height: 1.3
    p
      margin-bottom: 14px



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

